<div class="contents-row">
  <video src="/movie/Clothing.mp4" width="640" height="360" autoplay muted loop playsinline></video>
  <h1>Fashion Blog</h1>
  <h2>あなたのファッションを共有しよう。</h2>
  <div class="cont">
  <div class="cont-inner">
    <h2>Sign up</h2><br>
    <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :nickname %><br />
        <%= f.text_field :nickname, autofocus: true, maxlength: "6"%>
      </div>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @validatable %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :image %><br/>
        <%= f.file_field :image %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up" %>
      </div>
      <a href="/users/sign_in">
        <%= "sign in" %>
      </a>
    <% end %>
    </div>
    </div>
  </div>
</div>