.main-posts
  .main-posts__post
    .post-title
      %ul.title
        %li.subtitle
          Posts
        %li.mini
          %p
            ポスト
        %li

    - @posts.each do |post|
      .main-posts__post__detail
        %ul.main-posts__post__detail__more
          %li.nickname
            =link_to "#{post.user.nickname}","/users/#{post.user.id}"
          %li.text
            %p さんのポスト
        .main-posts__post__detail__image{:style => "background-image: url(#{post.images.first.src.url});"}
        .more-contents
          =link_to "#{post.text}","/posts/#{post.id}"
          %ul.like-create-tags
            %li.like
              %p.likes-count
                ♡
                =post.likes_count
            %li.create
              %p(datetime="#{post.created_at}")= time_ago_in_words(post.created_at)
            %li.tags
              - @parents.each do |parent|
                - if post.category_id == parent.id
                  .bar-thery
                    = link_to "categories/#{post.category.id}", class:"thery-field", id: "bar-d" do
                      = parent.name 
    .mainposts__post__detail__more
      .more-link
        =link_to "/" , class: "morelink-btn" do
          %p.more-text
            もっと見る
  
  .main-posts__side-bar
    .main-posts__side-bar__user
      %img.main-posts__side-bar__user__icon{src: current_user.image }
      .main-posts__side-bar__user__myuser
        %span.main-posts__side-bar__user__myuser__text
          = current_user.nickname
      .main-posts__side-bar__user__font
        %a.font__edit
          = link_to "/users/#{current_user.id}" do
            %i.fas.fa-user
        %a.font__cog
          = link_to destroy_user_session_path, method: :delete do
            %i.fas.fa-sign-out-alt
        %a.font__edit
          = link_to "users/edit" do
            %i.fas.fa-cog
        %a.font__cog
          = link_to "posts/new" do
            %i.fas.fa-edit
    
    .main-posts__side-bar__rank
      %h2.title
        Ranking

    .main-posts__side-bar__posts
      - @all_ranks.each.with_index(1) do |post, i|
        .main-posts__side-bar__posts__post
          .main-posts__side-bar__posts__post__like
            ♡
            =post.likes_count
          .main-posts__side-bar__posts__post__image{:style => "background-image: url(#{post.images.first.src.url});"}
          .main-posts__side-bar__posts__post__text=link_to "#{post.text}","/posts/#{post.id}"

    .main-posts__side-bar__collections
      - @my_ranks.first(1).each do |post|
        =link_to "/posts/#{post.id}", {class: "collection"} do
          .title
            %h2.subtitle
              BestFashion
            %p.user-name
              = post.user.nickname
          .snap{:style => "background-image: url(#{post.images.first.src.url});"}


