%section.top-view__pickup
  %h2.head
    Topics
  .products
    .products__head
      = link_to "/" do
        %h3.title
          Food

    .products__lists
      .list
        = link_to "/" do
          %figure.list-img
            =image_tag asset_path("aaa.jpg")
            .post-text
              %p.text
                青いsjdんcうdlsjshjしshjしおおおおおおおおおhxししx


      .list
        = link_to "/" do
          %figure.list-img
            =image_tag asset_path("aaa.jpg")
            .post-text
              %p.text
                青いsjdんcうdlsjshjしshjしおおおおおおおおおhxししx

      .list
        = link_to "/" do
          %figure.list-img
            =image_tag asset_path("aaa.jpg")
            .post-text
              %p.text
                青いsjdんcうdlsjshjしshjしおおおおおおおおおhxししx

      .list
        = link_to "/" do
          %figure.list-img
            =image_tag asset_path("aaa.jpg")
            .post-text
              %p.text
                青いsjdんcうdlsjshjしshjしおおおおおおおおおhxししx

%section.top-view__pickup
  %h2.head
    Topics
  .products
    .products__head
      = link_to "/" do
        %h3.title
          Food

    .products__lists
      .list
        = link_to "/" do
          %figure.list-img
            =image_tag asset_path("aaa.jpg")
            .post-text
              %p.text
                青いsjdんcうdlsjshjしshjしおおおおおおおおおhxししx


      .list
        = link_to "/" do
          %figure.list-img
            =image_tag asset_path("aaa.jpg")
            .post-text
              %p.text
                青いsjdんcうdlsjshjしshjしおおおおおおおおおhxししx

      .list
        = link_to "/" do
          %figure.list-img
            =image_tag asset_path("aaa.jpg")
            .post-text
              %p.text
                青いsjdんcうdlsjshjしshjしおおおおおおおおおhxししx

      .list
        = link_to "/" do
          %figure.list-img
            =image_tag asset_path("aaa.jpg")
            .post-text
              %p.text
                青いsjdんcうdlsjshjしshjしおおおおおおおおおhxししx