%section.top-view__pickup
  %h2.head
    Topics
  .products
    .products__head
      = link_to "categories/76" do
        %h3.title
          グルメ

    .products__lists
      - @post_food.each do |post|
        .list
          = link_to "/posts/#{post.id}" do
            %figure.list-img{:style => "background-image: url(#{post.image});"}
              .post-text
                %p.text
                  =post.text

%section.top-view__pickup
  %h2.head
    Topics
  .products
    .products__head
      = link_to "/" do
        %h3.title
          Fashion

    .products__lists
      - @post_fashion.each do |post|
        .list
          = link_to "/posts/#{post.id}" do
            %figure.list-img{:style => "background-image: url(#{post.image});"}
              .post-text
                %p.text
                  =post.text