.new-container
  = form_with model: @post, local: true do |form|
    .containers
      = render "devise/shared/error_messages", resource: @post
      %h3.title
        投稿する
      %br
      %ul
        %h1.top タイトル(必須)
        %li.top-form
          = form.text_field :text, placeholder: "50文字以内"
        %br
        %li
          .sale-image
            .sale-image__form
              %p.max-uploads
                最大4枚までアップロードできます
              .post__drop__box__container
                .prev-content
                .label-content
                  = form.label :"images_attributes_#{@post.images.count}_src", class: "label-box", id: "label-box--#{@post.images.count}" do
                    %pre.label-box__text-visible クリックしてファイルをアップロード
                .hidden-content
                  = form.fields_for :images do |i|
                    = i.file_field :src, class: "hidden-field"
                    %input{name: "post[images_attributes][0][_destroy]", id: "post_images_attributes_0__destroy", class:"hidden-checkbox", type:"checkbox", value:"0"}
                  - @post.images.length.upto(3) do |i|
                    %input{name: "post[images_attributes][#{i}][src]", id: "post_images_attributes_#{i}_src", class:"hidden-field", type:"file"}
                    %input{name: "post[images_attributes][#{i}][_destroy]", id: "post_images_attributes_#{i}__destroy", class:"hidden-checkbox", type:"checkbox", value:"#{i}"}
        %br
        %h1.bottom 本文(任意)
        %li.bottom-form
          = form.text_area :content, placeholder: "500文字以内" , rows: "10"
        %br

        %li.listing-form-box
          .listing-product-detail__category
            %h1.category カテゴリ(必須)
            .listing-select-wrapper
              .listing-select-wrapper__box
                = form.select :category, @category_parent_array, {}, {class: 'listing-select-wrapper__box--select', id: 'parent_category'}
          .submit-btn
            = form.submit "SEND"
    